<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CouncellorMessage" />
        <activity android:name=".Libruary" />
        <activity android:name=".AboutUs" />
        <activity android:name=".MessagingUser" />
        <activity android:name=".Chat" />
        <activity android:name=".c_issues2"></activity>
        <activity android:name=".c_issues" />
        <activity android:name=".c_color" />
        <activity android:name=".c_language" />
        <activity android:name=".c_age" />
        <activity android:name=".c_gender" />
        <activity android:name=".counselor_preference" />
        <activity android:name=".q_completed_message" />
        <activity android:name=".q_issues2" />
        <activity android:name=".q_issues" />
        <activity android:name=".q_relationship" />
        <activity android:name=".q_language" />
        <activity android:name=".q_age" />
        <activity android:name=".q_gender" />
        <activity android:name=".Main_menu" />
        <activity android:name=".LoginUser" />
        <activity android:name=".DashBoardCouncellor" />
        <activity android:name=".DashBoardUser" />
        <activity android:name=".RegisterCouncellor" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>